body {
    background-image: url("../img/main/background-img.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#all{
    background-color: white;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
    padding: 110px 5% 0% 5%;
    overflow: hidden;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#sig{
    line-height: 250%;
}

#username{
    margin-left: 7%;
    line-height: 300%;
}

.in{
    margin-top: 14px;
    float: right;
    margin-right: 15%;
}

#secquest{
    margin-top: 5%;
    margin-left: 7%;
}

#secansw{
    margin-top: 3%;
    margin-left: 7%;
}

#te{
    width: 400px;
}

.button{
    color: #d70808;
    background-color: white;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d70808;
}

.button:hover {
    background-color: #d70808;
    color: white;
    box-shadow: 2px 2px 2px #888888;
}

#login{
    float: right;
    margin-right: 5%;
}

#register{
    margin-top: 3%;
    margin-left: 7%;
}

.red-msg {
    color: #d70808;
}
